* {
    margin: 0em;
    padding: 0em;
    box-sizing: border-box;
}


html, body {
    width: 100vw;
    height: 100vh;  
    background-color: #EEFBFB;
}

nav {
    display: flex;
    justify-content: flex-end;
    flex: 100%;
    font-size: 1.5em;
    padding: 1em;
}

nav ul {
    display: flex;
    list-style: none;
    gap: 1rem;
}

nav li {
    margin: 0rem;
    padding: 1rem 1rem 0rem 1rem;
}

nav a {
    color: #12232E;
    text-decoration: none;
}

nav a:hover {
    color: #4DA8DA;
    border-bottom: 0.2rem solid #4DA8DA;
}

nav ul img {
    width: 1.5em;
    height: 1.5em;
    margin-top: -0.15em;
}

nav ul img:hover {
    cursor: pointer;
    transform: scale(1.2);
    transition: 0.7s;
}

header h1 {
    font-size: 6em;
    color: #12232E;
    text-align: center;
    margin-top: 2rem;
    margin-bottom: 0rem;
}


main {
    color:#12232E;
    margin: 10vh 25vw;

}

main div .hello {
    color: #007CC7;
    margin: 0.5em;
    font-size: 2em;
}

main h1 {
    font-size: 6em;
}

main div h2 {
    font-size: 5em;
    margin-bottom: 0.2em;
}

main div p {
    font-size: 1.5em;
    margin-top: 0.5em;
    width: 120%;
}

main #checkOutButton {
    background-color: #203647;
    color: #EEFBFB;
    border: none;
    border-radius: 0.5rem;
    padding: 1rem;
    font-size: 1.5em;
    margin-top: 1.5em;
    width: 10em;
    text-align: center;
}

#checkOutButton a {
    color: #EEFBFB;
    text-decoration: none;
}

#checkOutButton:hover {
    background-color: #4DA8DA;
}

#socialLinks {
    display: flex;
    flex-direction: column;
    position: fixed;
    bottom: 0;
    left: 0;
}

#socialLinks ul {
    list-style: none;
}


#socialLinks img {
    width: 2em;
    height: 2em;
    margin-left: 7rem;
    margin-bottom: 1.5rem;
}

#socialLinks img:hover {
    transform: scale(1.5);
    transition: 0.7s;
}

#emailLink {
    display: flex;
    flex-direction: column;
    position: fixed;
    bottom: 0;
    right: 0;
}

#emailLink {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    position: fixed;
    bottom: 0;
    right: 0;
    margin-right: 7rem;
    margin-bottom: 2rem;
}
  
#emailLink a {
    color: #12232E;
    font-size: 1.2em;
    font-family: 'Roboto', sans-serif;
    writing-mode: vertical-lr;
    text-decoration: none;
}

#emailLink a:hover {
    color: #4DA8DA;    
}

/* offPages*/

/*contact*/

#about {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#about p {
    line-height: 1.5em;
}

#about a {
    color: #4DA8DA; 
    text-decoration: none;
}

#about a:hover {
    color: #4DA8DA; 
    border-bottom: 0.2rem solid #4DA8DA;
}

#about a:visited {
    color: #4DA8DA; 
}

/*about*/

#formContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#formContainer form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#formContainer form input {
    background-color: #203647;
    color: #EEFBFB;
    margin: 1em;
    padding: 0.5em;
    border: none;
    border-radius: 0.5rem;
    font-size: 1.5em;
    width: 30em;
}

#formContainer form textarea {
    background-color: #203647;
    color: #EEFBFB;
    margin: 1em;
    padding: 0.5em;
    border: none;
    border-radius: 0.5rem;
    font-size: 1.5em;
    width: 37em;
    height: 10em;
}

#formContainer ::placeholder {
    font-size: 1em;
}

#formContainer form button {
    background-color: #203647;
    color: #EEFBFB;
    border: none;
    border-radius: 0.5rem;
    padding: 1rem;
    font-size: 1.5em;
    margin-top: 1.5em;
    width: 10em;
    text-align: center;
}

#formContainer form button:hover {
    background-color: #4DA8DA;
}

#formContainer ::placeholder {
    color: #EEFBFB;
}


/*projects*/

.project-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width:  100%;
}
  
.project-container .project-text {
    flex-grow: 1;
    padding: 1em 0em 0em 0em;
}
  
.project-container img {
    max-width: 100%;
    border:  0.2em solid #203647;
}

.project-container img:hover {
    box-shadow: 0 0 20px 0 rgba(77, 168, 218, 0.7);
    animation: glow 1s ease-in-out infinite alternate;
  }


.project-container h2 {
    font-size: 2.2em;
    margin-bottom: 0.2em;
    text-align: center;
}

.project-container p {
    font-size: 1.3em;
    margin-top: 0.5em;
    width: 100%;
}

.projectMediaIcons {
    display: flex;
    justify-content: center;
}

.projectMediaIcons img {
    width: 1.5em;
    height: 1.5em;
    margin: 0.5em;
    border: none;
    box-shadow: none;
}
  

/*Project Pages*/

#projecPageIcons {
    display: flex;
    justify-content: center;
}

#projecPageIcons img {
    height: 3em;
    width: 3em;
    margin: 1em;
}

#projectInfo p {
    line-height: 1.5em;
    width: 100%;
}

span {
    color: #007CC7;
}

/* Feature page*/

.videoContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.videoContainer #video {
    width: 100%;
    height: 100%;
    border: 0.2em solid #203647;
}
  