@media screen and (max-width: 1400px) {
    nav {
        font-size: 1.3em;
    }

    nav ul img {
        width: 1.3em;
        height: 1.3em;
    }
    
    main {
        margin: 15vh 20vw;
    }

    main div p {
        width: 120%;
        font-size: 1.3em;
    }

    main div .hello {
        font-size: 1.3em;
    }

    main h1 {
        font-size: 5em;
    }

    main div h2 {
        font-size: 4em;
    }

    main #checkOutButton {
        font-size: 1.2em;
    }

    #socialLinks img {
        margin-left: 3rem;
    }

    #emailLink {
        margin-right: 3rem;
    }

    #formContainer form input {
        font-size: 1.3em;
        width: 25em;
    }

    #formContainer form textarea {
        font-size: 1.3em;
        width: 31em;
        height: 10em;
    }

    #formContainer form button {
        font-size: 1.2em;
        width: 10em;
    }
}