@media screen and (max-width: 800px) {
    nav {
        font-size: 1.2em;
        justify-content: center;
    }

    nav ul img {
        width: 1.2em;
        height: 1.2em;
    }
    
    main {
        margin: 15vh 15vw;
    }

    main div p {
        font-size: 1em;
        width: 100%;
    }

    main div .hello {
        font-size: 1.2em;
    }

    main h1 {
        font-size: 3.5em;
    }

    main div h2 {
        font-size: 2.5em;
    }

    main #checkOutButton {
        font-size: 1em;
        width: 11em;
        padding: 0.5em;
    }

    #socialLinks img {
        margin-left: 0.5rem;
        height: 1.5em;
        width: 1.5em;
    }

    #emailLink {
        margin-right: 0.5rem;
        font-size: 1em;
    }

    .project-container {
        margin-left: 13vw;
        margin-top: -6em;
    }

    .project-container h2 {
        display: none;
    }

    .project-container #projectMediaIcons img{
        display: none;
    }
}
